{% extends 'base.html' %}{% from '_macros.html' import field, select, table, csrf, banks, confirmation with context %}
{% block title %}Novo cartão{% endblock %}{% block content %}<header class="page-heading">
<div>
<p class="eyebrow">CONTROLE FINANCEIRO</p>
<h1>Novo cartão</h1>
</div>
<div class="actions">
</div>
</header>
<section class="panel">
<form method="post">{{ csrf() }}{{ select('cliente_id','Cliente',clientes,form.cliente_id) }}{{ field('descricao','Nome do cartão',form.descricao,required=true) }}{{ field('dia_vencimento','Dia do vencimento (1 a 31)',form.dia_vencimento,type='number',required=true) }}<button class="button primary">Salvar cartão</button>
</form>
</section>{% endblock %}
